# System metadata
.DS_Store

# Folders that are compiled
dist/
node_modules/
.tmp/
source/pages/film/
source/pages/film/dummy.json

# Ignore bower components 
source/js/components

# Ignore compressed images
source/images

# Ignore compiled CSS
source/css/

# Ignore compiled HTML
source/*.html
!source/*.tpl.html

# Ignore compiled JS
*.min.js
