# System metadata
.DS_Store


# Folders that are compiled
dist/
node_modules/
.tmp/

*.min.js

# Files that are compiled

source/js/components
source/images
source/css/
source/index.html
source/departing_io.html
