section.content {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    max-width: 50em;
    font-family: akzidenz-grotesk_pro_regular;
    font-weight: 300;
    &.filmpage {
        max-width: none;
    }
    h1,
    h2 {
        white-space: pre-wrap;
        /* css-3 */
        white-space: -moz-pre-wrap;
        /* Mozilla, since 1999 */
        white-space: -pre-wrap;
        /* Opera 4-6 */
        white-space: -o-pre-wrap;
        /* Opera 7 */
        word-wrap: break-word;
        /* Internet Explorer 5.5+ */
        line-height: 1.2;
        color: #525252;
        line-height: 1em;
        margin-top: 0em;
        margin-bottom: 0.7em;
        letter-spacing: -.02em;
        -webkit-animate: color;
        i {
            font-family: Georgia, serif;
            color: #000;
        }
    }
    h1 {
        font-size: calc(1.5em + 2vw);
    }
    h2 {
        //color: #7b7b7b;
        font-size: calc(0.8em + 1vw);
    }
    code {
        font-family: Menlo, Monaco, "Courier New", Courier, monospace;
        font-size: calc(0.5em + 0.4vw);
        background: rgba(0, 0, 0, .05);
        padding: 0.5em;
        white-space: pre-wrap;
        line-height: 1.6;
    }
    p,
    li {
        font-family: Georgia, Cambria, "Times New Roman", Times, serif;
        letter-spacing: .01rem;
        font-weight: 400;
        font-style: normal;
        line-height: 1.58;
        letter-spacing: -.003em;
        font-size: calc(0.8em + 0.4vw);
        margin-top: 0;
    }
    a {
        color: #222;
        text-decoration: none;
        border-bottom: solid 1px #eee;
        transition: color 250ms linear;
        &:hover {
            transition: color 50ms linear;
            color: #27aae1;
            border-bottom: solid 1px #80C4F8;
        }
    }
    table {
        width: 100%;
    }
}
