@font-face {
    font-family: 'akzidenz-grotesk_pro_medium';
    src: url('../fonts/akzidenz_grotesk_pro_med_regular/akzidenz_grotesk_pro_med_regular-webfont.woff2') format('woff2'),
         url('../fonts/akzidenz_grotesk_pro_med_regular/akzidenz_grotesk_pro_med_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akzidenz-grotesk_pro_regular';
    src: url('../fonts/akzidenz_grotesk_pro_regular_regular/akzidenz_grotesk_pro_regular_regular-webfont.woff2') format('woff2'),
         url('../fonts/akzidenz_grotesk_pro_regular_regular/akzidenz_grotesk_pro_regular_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akzidenz-grotesk_pro_light';
    src: url('../fonts/akzidenz_grotesk_pro_light_regular/akzidenz_grotesk_pro_light_regular-webfont.woff2') format('woff2'),
         url('../fonts/akzidenz_grotesk_pro_light_regular/akzidenz_grotesk_pro_light_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

