iframe {
    width: 100%;
    height: calc(100vw / 16 * 10);
    border: none;
    overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
