img.shadow {
    box-shadow: 2px 0px 76px 0px rgba(0, 0, 0, 0.75);
    max-width:95%;
    margin-left: auto;
    margin-right: auto;

    display:block;
    margin-bottom: 5vh;
}


img {
    width: 100%;
}