#landingscreen {
    height: 100vh;
}

// Old method of fixing Firefox bugs
// @-moz-document url-prefix() {}
#maintitle.no-mix-blend-mode {
    mix-blend-mode: normal !important;
    color: #3F3F3F !important;
    ul {
        a {
            transition: color 0.25s !important;
            &:hover {
                color: #D1D1D1 !important;
            }
        }
    }
    h3 {
        a {
            &:hover {
                color: #9C9C9C;
            }
        }
    }
}

#maintitle {
    mix-blend-mode: exclusion;
    opacity: 1;
    color: #FFFFFF;
    font-family: akzidenz-grotesk_pro_regular;
    text-rendering: optimizeLegibility;
    font-smooth: never;
    text-align: center;
    position: relative;
    width: 90%;
    max-width: 45em;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    h1 {
        margin: 0;
        padding: 0;
        color: inherit;
        font-size: calc(1.5em + (5vw * 0.5));
    }
    h3 {
        font-family: akzidenz-grotesk_pro_medium;
        font-weight: 400;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 0.5em;
        max-width: 25em;
        a {
            text-decoration: none;
            //color: #FFFFFF;
            color: inherit;
            transition: all 0.3s;
            &:hover {
                color: #666;
            }
        }
    }
    ul {
        padding: 0;
        margin-top: 0.1em;
        list-style: none;
        font-size: calc(1.3em + (1vw * 0.5));
        a {
            text-decoration: none;
            color: inherit;
            transition: opacity .3s;
            &:hover {
                //color: #BDBDBD;
            }
        }
    }
    li {
        text-decoration: none;
        margin-top: calc(0.2em + 0.4vh);
        &.title {
            //font-size: 70%;
            opacity: 0.2;
            font-family: akzidenz-grotesk_pro_medium;
        }
    }
}

.social a:hover {
    color: #666;
}

.social a {
    margin-left: 1em;
    margin-right: 1em;
    text-transform: none;
    text-decoration: none;
    font-family: socicon !important;
    letter-spacing: 0em; //3em;
    text-align: center;
    line-height: 1.3;
    font-size: calc(1.1em + 0.2vw);
    color: #a3a3a3;
    border-bottom: none;
    box-shadow: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
