html,
body,
h1 {
    margin: 0;
    padding: 0;
}

* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@@include('_background_image.scss', {
    "image": "transit-in-sydney",
    "path":"landing",
    "file":"transit-in-sydney.jpeg"
})

@@include('_background_image.scss', {
    "image": "departing",
    "path":"landing",
    "file":"departing.jpeg"
})

@@include('_background_image.scss', {
    "image": "swirlesque",
    "path":"landing",
    "file":"swirlesque.jpeg"
})

@@include('_background_image.scss', {
    "image": "engineering-process",
    "path":"landing",
    "file":"engineering-process.jpeg"
})

@@include('_background_image.scss', {
    "image": "films",
    "path":"landing",
    "file":"films.jpeg"
})

#landingscreen {
    height: 100vh;
}

#maintitle {
    //text-rendering: optimizeLegibility;
    font-smooth: never;
    mix-blend-mode: exclusion;
    text-align: center;
    position: relative;
    width: 90%;
    max-width: 45em;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    font-family: akzidenz-grotesk_pro_regular;
    //font-weight: 300;
    color: #FFFFFF;
    opacity: 1;
    //background-color: #440000;
    h1 {
        color: #FFFFFF;
        font-size: calc(1.5em + (5vw * 0.5));
    }
    /*
    h2 {
        font-size: calc(1em + (1vw * 0.5));
        a {
            border-bottom: none;
            text-decoration: none;
            transition: color 0.25s ease;
            //color: #b7b7b7;
            &:hover {
                color: #270000;
            }
        }
    }
    */
    h3 {
        text-align: center;
        margin: 0 auto;
        max-width: 25em;
    }
    ul {
        list-style: none;
        font-size: calc(1.3em + (1vw * 0.5));
        a {
            text-decoration: none;
            color: inherit;
            transition: opacity .3s;
            &:hover {
                color: #BDBDBD;
            }
        }
    }
    li {
        text-decoration: none;
    }
}
