html,
body,
h1 {
    margin: 0;
    padding: 0;
}

* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: none;
}

div.imagetext {
    position: relative;
    width: 100%;
    /* for IE 6 */
    &.section {
        // position: relative;
        // width: 100%;
        // /* for IE 6 */
    }
    display: flex;
    justify-content: center;
    align-items: center;
}

section.header {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    line-height: 1;
    h1 {
        font-family: akzidenz-grotesk_pro_regular;
        font-size: calc(3em + (5vw * 0.5));
        a {
            // Aka Jake Coppinger
            letter-spacing: -0.04em;
            color: #2D2D2D;
            text-decoration: none;
        }
        &.inverted {
            //opacity:0.8;
            a {
                color: #000000;
            }
            color: #FFFFFF;
        }
    }
    &.floating {
        mix-blend-mode: overlay;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(0%, -50%);
        margin-top: 0vw;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        h1 {
            text-align: center;
            font-size: calc(2em + (5vw * 0.5));
        }
    }
}

.clear {
    clear: both;
}

section.content {
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    max-width: 50em;
    font-family: akzidenz-grotesk_pro_regular;
    font-weight: 300;
    h2 {
        //color: #7b7b7b;
        font-size: calc(1.5em + 2vw);
        line-height: 1.2;
        color: #525252;
        font-size: 5vmin;
        line-height: 1em;
        margin-top: 0.6em;
        margin-bottom: 0em;
        letter-spacing: -.02em;
        -webkit-animate: color;
        i {
            font-family: Georgia, serif;
            color: #000;
        }
    }
    code {
        font-family: Menlo, Monaco, "Courier New", Courier, monospace;
        font-size: calc(0.5em + 0.7vw);
        background: rgba(0, 0, 0, .05);
        padding: 0.5em;
        white-space: pre-wrap;
        line-height: 1.6;
    }
    p,
    li {
        font-family: Georgia, serif;
        font-family: Georgia, Cambria, "Times New Roman", Times, serif;
        letter-spacing: .01rem;
        font-weight: 400;
        font-style: normal;
        line-height: 1.58;
        letter-spacing: -.003em;
        font-size: calc(0.8em + 0.7vw);
    }
    a {
        color: #222;
        text-decoration: none;
        border-bottom: solid 1px #eee;
        transition: color 250ms linear;
        &:hover {
            transition: color 50ms linear;
            color: #27aae1;
            border-bottom: solid 1px #80C4F8;
        }
    }
}

// Generating background images on landing
@@include('_background_image.scss', {
    "image": "transit-in-sydney", "path": "landing", "file": "transit-in-sydney.jpeg"
}

) @@include('_background_image.scss', {
    "image": "departing", "path": "landing", "file": "departing.jpeg"
}

) @@include('_background_image.scss', {
    "image": "swirlesque", "path": "landing", "file": "swirlesque.jpeg"
}

) @@include('_background_image.scss', {
    "image": "engineering-process", "path": "landing", "file": "engineering-process.jpeg"
}

) @@include('_background_image.scss', {
    "image": "films", "path": "landing", "file": "films.jpeg"
}

) #landingscreen {
    height: 100vh;
}

#maintitle {
    text-rendering: optimizeLegibility;
    font-smooth: never;
    mix-blend-mode: exclusion;
    text-align: center;
    position: relative;
    width: 90%;
    max-width: 45em;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    font-family: akzidenz-grotesk_pro_regular;
    color: #FFFFFF;
    opacity: 1;
    h1 {
        color: #FFFFFF;
        font-size: calc(1.5em + (5vw * 0.5));
    }
    h3 {
        text-align: center;
        margin: 0 auto;
        max-width: 25em;
    }
    ul {
        list-style: none;
        font-size: calc(1.3em + (1vw * 0.5));
        a {
            text-decoration: none;
            color: inherit;
            transition: opacity .3s;
            &:hover {
                color: #BDBDBD;
            }
        }
    }
    li {
        text-decoration: none;
    }
}

.social a {
    text-transform: none;
    text-decoration: none;
    font-family: socicon !important;
    letter-spacing: 1.5em;
    line-height: 1.3;
    font-size: -webkit-calc(0.9em + 0.2vw);
    color: #a3a3a3;
    border-bottom: none;
    box-shadow: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.difference {
    mix-blend-mode: exclusion;
}

.social a:hover {
    color: #666;
}

// img.topbackground {
//     position: absolute;
//     top: 0;
//     z-index: -1;
// }
