html,
body,
h1 {
    margin: 0;
    padding: 0;
}

@@include('_background_image.scss', {
    "image":"departing",
    "size": 10,
    "url": "/images/departing.jpg"
})

@@include('_background_image.scss', {
    "image":"robot",
    "size": 10,
    "url": "/images/robot.jpg"
})

#landingscreen {
    height: 100vh;
}

#maintitle {
    position: relative;
    width: 90%;
    max-width: 45em;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    font-family: akzidenz-grotesk_pro_regular;
    //font-weight: 300;
    color: #7F7F7F;
    h1 {
        color: #000000;
        font-size: calc(1.5em + (5vw * 0.5));
    }
    h2 {
        font-size: calc(1em + (1vw * 0.5));
        a {
            border-bottom: none;
            text-decoration: none;
            transition: color 0.25s ease;
            //color: #b7b7b7;
            &:hover {
                color: #27AAE1;
            }
        }
    }
    h3 {
        max-width: 25em;
    }
}
