/* Vimeo embed */

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 2em;
    &.ultrawidescreen {
        padding-bottom: 42.55%; // 56?
    }
}
/*
.video_embed {
    position: relative;
    height: 0px;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    &.widescreen {
        padding-bottom: 56.25%;
    }
    &.ultrawidescreen {
        padding-bottom: 42.55%; // 56?
    }
    &.b {
        margin-bottom: 2em;
    }
}
*/

.video_embed iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section.credits {
    margin-left: 2em;
}

@media all and (min-width:90em) {
    section.film,
    section.credits {
        float: left;
        display: inline;
    }
    section.film {
        width: 60%;
    }
    section.credits {
        width: calc(40% - 2em);
    }
}
