.video_embed {
    position: relative;
    height: 0px;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    /*z-index: -1;*/
    &.widescreen {
        padding-bottom: 56.25%;
    }
    &.ultrawidescreen {
        padding-bottom: 42.55%;
    }
    &.b {
        margin-bottom: 2em;
    }
}

.video_embed iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


section.credits {
    margin-left:2em;
}

@media all and (min-width:90em) {
    section.film, section.credits {
        float: left;
        display: inline;
    }

    section.film {
        width:60%;
    }
    section.credits {
        width:calc(40% - 2em);
    }
}
