{% extends "base.njk" %} {% block title %}Films{% endblock %} {% block description %}Films by Jake Coppinger.{% endblock %} {% block body %}
<div class="imagetext">
    {{ n.image("topbackground","films/montage.jpeg","Traveller using Departing.io") }}
    <section class="header floating difference">
        <h1><a href="/">Jake Coppinger&nbsp;/</a> Films</h1>
    </section>
</div>
<section class="content">
    <h1><a href="http://www.youtube.com/c/jakecoppinger">1.8 million YouTube views / 33k subscribers</a></h1>
    <table>
        <tr>
            <td>Best Film in festival</td>
            <td>The Engineering Process</td>
            <td><a href="http://www.gungahlincollegetv.com/featured/">ReelACT 2015</a></td>
        </tr>
        <tr>
            <td>Best Music Video</td>
            <td>Dark Matter</td>
            <td><a href="http://www.gungahlincollegetv.com/featured/">ReelACT 2015</a></td>
        </tr>
        <tr>
            <td>Second Place</td>
            <td>The Engineering Process</td>
            <td><a href="http://engflick.com.au/2014/11/27/engineering-film-makers-take-on-the-silver-screen/">EngFlick 2014</a></td>
        </tr>
        <tr>
            <td>Third place</td>
            <td>The $18 billion dollar Doughnut</td>
            <td><a href="http://www.aip.org.au/act/Frame_Your_Physics/styled/index.html">Frame Your Physics 2013</a></td>
        </tr>
        <tr>
            <td>Finalist &amp; screening in cinema</td>
            <td>Self</td>
            <td>ReelACT 2013</td>
        </tr>
    </table>
    <ul class="image-grid">
        {% for title in images %}
        {% set filenameHTML = title | titleToFilename  + ".html" %}
        {% set filenameJPEG = title | titleToFilename + ".jpeg" %}
        {% set imageURL = title | titleToFilename + "/" + filenameJPEG %}
        <li>
        <a href="/film/{{filenameHTML}}">
            {{n.image("",imageURL, films[title].description)}}
            <div>
                <h3>{{title}}</h3>
            </div>
        </li>
        {% endfor %}
    </ul>

</section>
{% endblock %}