@media (max-width: 720px) {
    div.landingimage.@@image {
        background: url("../images/720/@@path/@@file");
    }
}

@media (min-width: 721px) {
    div.landingimage.@@image {
        background: url("../images/1100/@@path/@@file");
    }
}

@media (min-width: 1101px) {
    div.landingimage.@@image {
        background: url("../images/1920/@@path/@@file");
    }
}

div.landingimage.@@image {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-position: center center;
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    /* Background image is fixed in the viewport so that it doesn't move when 
         the content's height is greater than the image's height */
    background-attachment: fixed;
    /* This is what makes the background image rescale based
         on the container's size */
    background-size: cover;
    background-color: #DDDDDD; // Debug
    display: none;
}