{% macro image(class, path, alt) %}

<!--<picture class="{{class}}"> -->

<!--
   <source srcset="/images/720/{{path}}.webp 720w, /images/1100/{{path}}.webp 1100w, /images/1920/{{path}}.webp 1920w" type="image/webp" alt="{{alt}}">
   <source srcset="/images/720/{{path}}.jpeg 720w, /images/1100/{{path}}.jpeg 1100w, /images/1920/{{path}}.jpeg 1920w" alt="{{alt}}"> 
   <img src="/images/1920/{{path}}.jpeg" alt="{{alt}}">
-->

  <img class="{{class}}" srcset="/images/720/{{path}}.jpeg 720w, /images/1100/{{path}}.jpeg 1100w, /images/1920/{{path}}.jpeg 1920w" alt="{{alt}}">


<!--</picture>-->

{% endmacro %}

{% macro youtube(id,ultrawidescreen) %}
<div class="embed-container{% if ultrawidescreen %} ultrawidescreen{% endif %}">
    <iframe src="https://www.youtube.com/embed/{{id}}?hd=1&theme=light&rel=0&color=white&showinfo=0&origin=https://jakecoppinger.com" frameborder='0' webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
</div>
{% endmacro %}


{% macro vimeo(id,ultrawidescreen) %}
<div class='embed-container{% if ultrawidescreen %} ultrawidescreen{% endif %}'>
<iframe src='https://player.vimeo.com/video/{{id}}' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>
{% endmacro %}