{% macro image(class, path, alt) %}
<img class="{{class}}" srcset="/images/1920/{{path}} 1920w, /images/1200/{{path}} 1200w, /images/720/{{path}} 720w" alt="{{alt}}">
{% endmacro %}


{% macro youtube(code) %}
<div class="video_embed widescreen b">
    <iframe src="http://www.youtube.com/embed/{{code}}?hd=1&theme=light&rel=0&color=white&showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>
{% endmacro %} 



{% macro film(title,id,description) %}

{{title}}
<br>
{{id}}
<br>
{{description}}

{% extends "base.njk" %}
{% block title %}{{title}}{% endblock %}


{#}


{% block body %}

    <section class="header">
        <h2><a href="/">Jake Coppinger&nbsp;/</a> <a href="/films.html">Films /</a> {{title}}</h2>

    </section>
    <section class="content filmpage">
        <section class="film">

        {% block embed %}{% endblock %}
        {{ n.youtube(id)}}}}
            
        </section>
        <section class="credits">
            <h1>Test</h1>
            <!--
            <p>An unofficial music video for the song "Dark Matter" by Andrew Belle.</p>
            <p>Many thanks to Andrew Belle and his management for permission to feature his music. See more of his great work at <a href="http://andrewbelle.com" class="ui-link">andrewbelle.com</a>, <a href="https://andrewbelle.bandcamp.com" class="ui-link">andrewbelle.bandcamp.com</a>, and on SoundCloud at <a href="https://soundcloud.com/andrewbelle" class="ui-link">soundcloud.com/andrewbelle</a>. 'Dark Matter' was featured on his album 'Black Bear'.</p>
            <h2>Cast</h2>
            <p>Jake COPPINGER
                <br>Claire WARREN</p>
            <h2>Production &amp; Post Production</h2>
            <p>Director of photography: Jake COPPINGER
                <br>Post-production: Jake COPPINGER
                <br>Photography | Concept | Scriptwriting: Jake COPPINGER, Claire WARREN, Larissa BUTT, Grace JOHNSON</p>
            -->
        </section>
    </section>
{% endblock %}

#}
{% endmacro %}
