<section class="footer">
<h1>Website design &amp; development by <a href="mailto:jake@jakecoppinger.com">Jake Coppinger</a> / built from scratch with Gulp, Nunjucks templating &amp; DigitalOcean / <a href="https://github.com/jakecoppinger/jakecoppinger.com">github.com/jakecoppinger/jakecoppinger.com</a></h1>
</section>