<div class="clear"></div>

<section class="footer">

{% markdown %}
# Website design & development by [Jake Coppinger](mailto:jake@jakecoppinger.com) / built from scratch with [Gulp.js](http://www.gulpjs.com/), Markdown, [Nunjucks](https://mozilla.github.io/nunjucks/) templating & DigitalOcean / [github.com/jakecoppinger/jakecoppinger.com](https://github.com/jakecoppinger/jakecoppinger.com)
{% endmarkdown %}
</section>