<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="{% block description %}{% endblock %}"/>
        {% include "imports.njk" %}
    </head>

    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>