{% extends "base.njk" %}

{% block title %}{{title}}{% endblock %} 

{% block description %}
{{film.description}}
{% endblock %}

{% block body %}
    <section class="header">
        <h2><a href="/">Jake Coppinger&nbsp;/</a>
        <a href="/films.html">Films /</a> {{title}}</h2>
    </section>

    <section class="content filmpage">
    <h1>{{self}}</h1>
        <section class="film">
        {{ n.youtube(film.videoid) }}
        </section>

        <section class="credits">
            {% markdown 'markdown/' + film.credits %}
        </section>

    </section>
{% endblock %}