{% extends "base.njk" %}

{% block title %}{{title}}{% endblock %} 

{% block description %}
{{film.description}}
{% endblock %}

{% block body %}
    <section class="header">
        <h2><a href="/">Jake Coppinger&nbsp;/</a>
        <a href="/films.html">Films /</a> {{title}}</h2>
    </section>

    <section class="content filmpage">
    <h1>{{self}}</h1>
        <section class="film">
            {% if film.vimeo_id %}
            {{n.vimeo(film.vimeo_id, film.ultrawidescreen)}}
            {% else %}
            {{ n.youtube(film.youtube_id, film.ultrawidescreen) }}
            {% endif %}
        </section>


        <section class="credits">
            <p><i>
            {% if film.youtube_id  %}
            Watch on YouTube at <a href="http://youtu.be/{{film.youtube_id}}">youtu.be/{{film.youtube_id}}</a>
            {% endif %}

            {% if film.vimeo_id %}
                {% if film.youtube_id  %}
                        and on 
                    {% else %}
                        Watch on 
                {% endif %}

                Vimeo at 

                {% if film.vimeo_human_url %}
                        <a href="http://www.vimeo.com/jakecoppinger/{{film.vimeo_human_url}}">vimeo.com/jakecoppinger/{{film.vimeo_human_url}}</a>
                    {% else %}
                        <a href="https://www.vimeo.com/{{film.vimeo_human_url}}">vimeo.com/{{film.vimeo_human_url}}</a>
                {% endif %}

            {% endif %}
            </i></p>

            {% markdown 'markdown/' + film.credits %}
        </section>
    </section>
{% endblock %}