{% extends "base.html" %}

 {% block title %}Jake Coppinger: Portfolio{% endblock %} 
 {% block description %}Personal website of Jake Coppinger. I'm currently working as a frontend software engineer at Atlassian, improving the performance and reliability of an advanced text editor with millions of monthly users.{% endblock %}

 {% block body %}
<div id="landingscreen">
    <div id="maintitle">
        <h1>Hi, I'm Jake Coppinger.</h1>

        <h2>I'm currently working as a frontend software engineer at <b>Atlassian</b>, improving the performance and reliability of an advanced text editor with millions of monthly users.</h2>

        <h3>Say hello! I live in Sydney, Australia.<br>

			<a href="mailto:jake@jakecoppinger.com">jake@jakecoppinger.com</a> | 
            <a href="https://jakecoppinger.blog/" target=”_blank”>Blog</a> |
            <a href="https://github.com/jakecoppinger/" target=”_blank”>Github</a> |
            <a href="http://au.linkedin.com/in/jakecoppinger" target=”_blank”>LinkedIn</a>

		</h3>


<p>A little bit about me:</p>
<ul>
<li>I&#39;m currently working on visualising realtime Sydney transit congestion data to find the cheapest way of improving service frequency and speed.</li>
<li>I play the violin solo and with an orchestra (before COVID-19). I was previously concertmaster of the Canberra Youth Philharmonic Orchestra and have played with the UNSW String Ensemble.</li>
<li><a href="https://tedxsydney.com/talk/how-i-learned-to-improve-technology-jake-coppinger/">I presented at TEDxSydney 2014</a> in the Sydney Opera House in front of 2,250 people.</li>
<li>I dance salsa and bachata.</li>
<li>I ditched QWERTY 3 years ago and now write in <a href="https://colemak.com/">Colemak</a> on a <a href="https://kinesis-ergo.com/shop/advantage2/">Kinesis Advantage 2</a> (it&#39;s a concave, columnar, split, tented, mechanical keyboard with thumb keys!) I still write in QWERTY on MBP keyboards to stay fluent.</li>
<li>I grew up in Steiner, Montessori and public education.</li>
<li>Intel paid for my flights to LA to <a href="https://www.scienceawards.org.au/Alumni-home/Meet-the-Alumni/Jake-Coppinger">represent Australia</a> in an international high school science fair.</li>
<li>I&#39;m a proud cyclist, urban planning nerd and transit advocate.</li>
<li>I&#39;m a volunteer surveyor &amp; editor for <a href="https://www.openstreetmap.org/">OpenStreetMap</a>. Chances are you&#39;ve encountered my small map improvements in Uber/Tesla routing/Instagram/Snapchat/Facebook maps. I occasionally volunteer with the Humanitarian OSM team supporting natural disaster recovery efforts.</li>
<li>I&#39;m a photographer and filmmaker. I cover a lot of architecture, transit infrastructure and landscape on the photography side, and documentary/music videos (with local and international musicians)/tutorials on the film side.</li>
<li>My <a href="https://www.youtube.com/channel/UC15uvzjScSczMssCGvGg6aQ">YouTube</a> channel has ~4.7 million views.</li>
</ul>


<h3>Contact me at <a href="mailto:jake@jakecoppinger.com">jake@jakecoppinger.com</a>.</h3>


<br>
</div>

{% endblock %}
